<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Restaurant Marcos</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<header>
		<h1>Restaurant Manager</h1>
		
		<p>The best way to manage your business</p>
		
	</header>
	
	<nav class="pages-nav">
		<a href="stock-manager">Stock</a>
		<a href="recipe-manager">Recipe</a>
		<a href="#">Gain</a>
		<a href="#">Expenses</a>
		<a href="discount-manager">Discount</a>
	</nav>
	
	<div th:if="${msg}" class="toast-container success">
		<p th:text="${msg}"></p>
	</div>
	
	<main id="main-sale">
	
		<form id="form-items" class="form-default" th:action="@{/manager/add-item}" method="post" th:object="${item}">
			<div class="row">
			
				<label class="label-default">Items:</label>
				<select th:field="*{dish}" class="select-default"> 
					<option th:each="d : ${dishes}" th:value="${d.id}" th:text="${d.name}">
				</select>
				
				<label for="quantity" class="label-default">Quantity:</label>
				<input id="quantity" name="quantity" class="input-default" th:field="*{quantity}" type="number" placeholder="Inform the quantity to sale">
			</div>
			
			<div class="totalPrice">
				<p>Total: <span th:text="${totalPriceItem}"></span></p>
			</div>	
			
			<div class="row">
				<button type="submit" class="button-default">Add</button>
			</div>
		</form>
		
		<form id="form-sale" action="/manager/save-sale" class="form-default" method="post" th:object="${sale}">
		
			<input type="hidden" th:field="*{id}" />
			
			<div class="row">
			
				<th:block th:if="*{requestNumber != null and requestNumber != ''}">
					<label for="requestNumber" class="label-default">Request Number:</label>
					<input id="requestNumber" name="requestNumber" class="input-default" th:field="*{requestNumber}" type="text" readonly="readonly">
				</th:block>
			
				<label for="saleDate" class="label-default">Sale Date:</label>
				<input id="saleDate" name="saleDate" class="input-default" th:field="*{saleDate}" type="date" readonly="readonly">
			</div>
			
			<div class="row">
			
				<h3 id="items-label">Items:</h3>
				<table>
					<thead>
						<tr>
							<th>Dish</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Action</th>
						</tr>
						
						
					</thead>
					<tbody style="margin: 5px;">
						<tr th:if="${#lists.isEmpty(sale.items)}">
							<td><input type="text" class="item-list-input-default"  disabled placeholder="No dish selected"></td>
						    <td><input type="text" class="item-list-input-default" disabled placeholder="0"></td>
						    <td><input type="text" class="item-list-input-default" disabled placeholder="0.00"></td>
						    <td><button class="table-button" disabled style="opacity: 0.5;"><span class="material-icons">delete</span></button></td>
						</tr>
						<tr th:if="${not #lists.isEmpty(sale.items)}" th:each="item, stat : *{items}">
							<input type="hidden" th:field="*{items[__${stat.index}__].id}">
							
							<td>
								<select th:field="*{items[__${stat.index}__].dish}" class="item-list-select-default">
									<option th:each="d : ${dishes}" th:value="${d.id}" th:text="${d.name}"/>
								</select>
							</td>
							<td>
								<input class="item-list-input-default" th:field="*{items[__${stat.index}__].quantity}" type="number" placeholder="Inform the quantity to sale">
							</td>
							<td>
		                        <input type="number" th:field="*{items[__${stat.index}__].unitPrice}" class="item-list-input-default">
		                    </td>
		                    <td>
		                        <button type="submit" name="action" th:value="'remove-' + ${stat.index}" class="table-button"><span class="material-icons">delete</span></button>
		                    </td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="row">
				<label for="discout" class="label-default">Discount:</label>
				<select id="discout" name="discout" class="select-default" th:field="*{discount}">
					<option label="Select a discount" value="">
					<option th:each="d : ${discounts}" th:value="${d.id}" th:text="${d.name}">
				</select>
			</div>
			
			<div class="row">
				<label for="serviceTax" class="label-default">Service Tax:</label>
				<select id="serviceTax" name="serviceTax" class="select-default" th:field="*{serviceTax}">
					<option label="Select the service tax" value="">
					<option label="10%" value="10">
				</select>
				
				<label for="payment" class="label-default">Payment:</label>
				<select id="payment" name="payment" class="select-default" th:field="*{payment}">
					<option th:each="p : ${T(br.com.restaurant.manager.model.Payment).values()}" th:value="${p}" th:text="${p.value}">
				</select>
			</div>
			
			<div class="row">
				<label for="status" class="label-default">Status:</label>
				<select id="status" name="status" class="select-default" th:field="*{status}">
					<option th:each="s : ${T(br.com.restaurant.manager.model.Status).values()}" th:value="${s}" th:text="${s.value}">
				</select>
				
				<label id="observation" class="label-default">Observation:</label>
				<textarea id="observation" name="observation" class="input-default" th:field="*{observation}" placeholder="Infom the sale proccess"
				rows="10"></textarea>
			</div>
			
			<div class="totalPrice">
				<p>Total: <span th:text="${totalPrice}"></span></p>
			</div>				
			
			<div class="row">
				<button value="save" id="save-sale-button" name="action" class="button-default" type="submit">Save</button>
				<a th:href="@{/manager/new}" id="new-sale-button" class="button-default">New Sale</a>
			</div>
			 
		</form>
		
		<table id="table-sales">
			<thead>
				<tr>
					<th>ID</th>
					<th>Request Number</th>
					<th>Sale Date</th>
					<th>Status</th>
					<th>Total Value</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tr th:each="sale : ${sales}" id="tr-sale">
				<td th:text="${sale.id}"></td>
				<td th:text="${sale.requestNumber}"></td>
				<td th:text="${sale.saleDate}"></td>
				<td th:text="${sale.status}"></td>
				<td th:text="${sale.totalValue}"></td>
				<td>
					<form th:action="@{/manager/edit/{id}(id=${sale.id})}" method="get">
						<button title="Edit" class="table-button">
							<span class="material-icons">edit</span>
						</button>
					</form>
					
				</td>
				<td>
					<form th:action="@{/manager/delete/{id}(id=${sale.id})}" method="post" onsubmit="return confirm('Are you sure that you want delete?')">
						<button type="submit" title="Delete" class="table-button">
							<span class="material-icons">delete</span>
						</button>
					</form>
				</td>
			</tr>
		</table>
	</main>
	
</body>
</html>