@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	
	--color0: #00010D;
	--color1: #D9AA71;
	--color2: #BF7950;
	--color3: #592B1B;
	--color4: #8C5845;
	--color5: #783a25;
	
	--default-font: 'Open Sans', Arial, sans-serif;
	--highlight-font: 'Playfair Display';
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--color1);
	color: var(--color4);
	font-family: var(--default-font);
}

header {
	background-image: linear-gradient(to right, var(--color3), var(--color5));
	color: white;
	padding: 30px 10px;
	text-align: center;
}

header h1 {
	font-family: var(--highlight-font);
	font-size: 3em;
}

header p {
	padding-top: 10px;
}

.pages-nav {
	background-image: linear-gradient(to right, var(--color3), var(--color5));
	padding: 10px;
	box-shadow: 0px 7px 7px #00010d36;
}

nav a {
	padding: 10px 15px;
	margin: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition-duration: 0.5s;
}

nav a:hover {
	background-color: var(--color2);
}

.form-default {
	background-color: white;
	padding: 10px 10px;
	border-radius: 5px 5px 0px 0px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 65%;
	min-width: 55%;
	box-shadow: 11px 7px 0px #0000000d;
}


.row {
	text-align: left;
}

.label-default {
	display: block;
	margin: 5px 5px;
	font-weight: bold;
}

.input-default {
	margin: 5px;
	padding: 5px 15px;
	min-width: 95%;
	border-radius: 5px;
	border-color: var(--color3);
	border-style: solid;
	border-width: 0.2em;
}

.select-default {
	margin: 5px;
	padding: 5px 15px;
	min-width: 98%;
	border-radius: 5px;
	border-color: var(--color3);
	border-style: solid;
	border-width: 0.2em;
}

.totalPrice {
	padding: 10px;
	font-weight: bolder;
	font-size: 2em;
	color: black;
}

.button-default {
	background-color: var(--color2);
	color: white;
	font-weight: bolder;
	padding: 10px 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-color: transparent;
}

.button-default:hover {
	background-color: var(--color1);
	color: var(--color4);
}

#new-sale-button {
	background-color: var(--color2);
	color: white;
	font-weight: bolder;
	padding: 7px 30px 10px 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-color: transparent;
	text-decoration: none;
}

#new-sale-button:hover {
	background-color: var(--color1);
	color: var(--color4);
}
